.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

form {
    display: grid;
    row-gap: .5rem;
}

input {
    height: 1.5rem;
    width: 250px;
    font-size: 1.5rem;
    margin-left: .5rem;
    border-radius: 4px;
}

.counter {
    font-size: 5rem;
}

.buttons button {
    background-color: aliceblue;
    font-size: 1.4rem;
    border-radius: 4px;
    margin: .25rem;
}
